.home-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.home-content-container {
  order: 2;
  max-width: 500px;
}
.home-content-container span {
  color: var(--title-2-font-color);
  font-size: 18px;
  font-family: poppins;
  text-transform: uppercase;
}
.home-content-container h1 {
  color: var(--title-1-font-color);
  font-size: 46px;
  font-family: serif;
}
.home-content-container p {
  color: var(--desc-1-font-color);
  font-size: 13px;
  font-family: poppins;
}
.home-content-btn-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.home-content-btn-container div {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-image-container {
  max-width: 300px;
  max-height: 300px;
  order: 1;
}
.home-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (width>=800px) {
  .home-content-container {
    order: 0;
    max-width: 400px;
  }
}
@media (width >=1050px) {
  .home-content-container {
    max-width: 500px;
  }
  .home-content-container span {
    font-size: 22px;
  }
  .home-content-container h1 {
    font-size: 60px;
  }
  .home-content-container p {
    font-size: 16px;
  }

  .home-image-container {
    max-width: 500px;
    max-height: 400px;
  }
}
